<!DOCTYPE html>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/include" />
    <body>
        <nav th:replace="fragments/header"/>

        <div class="container">
            <h2>Valid pipelines</h2>
            <th:block th:each="pipeline: ${pipelines}">
                Pipeline: [[${pipeline.id}]] 
                <a th:href="@{/edit-pipeline(id=${pipeline.id})}">edit</a> 
                <a th:href="@{/delete-pipeline(id=${pipeline.id})}">delete</a> <br/>
            </th:block>
            <p/>
            <p/>
            <p th:text="'Number pipelines = ' + ${size}" />
            <h2>Invalid pipelines</h2>
            <th:block th:each="pipeline: ${pipelineFailures}">
                Pipeline: [[${pipeline.id}]] 
                <a th:href="@{/edit-pipeline(id=${pipeline.id})}">edit</a>
                <a th:href="@{/delete-pipeline(id=${pipeline.id})}">delete</a> <br/>
            </th:block>
            <p/>
            <p/>
            <p th:text="'Number pipelines = ' + ${failedSize}" />
        </div>
        <div th:replace="fragments/footer"/>
    </body>
</html>
