name: Release to maven central

on:
  push:
    branches: [ release ]

jobs:
  release:

    runs-on: ubuntu-latest

    steps:
      - name: Install gpg secret key
        run: |
          cat <(echo -e "${{ secrets.OSSRH_GPG_SECRET_KEY }}") | gpg --batch --import
          gpg --list-secret-keys --keyid-format LONG

      - uses: actions/checkout@v4
        with:
          ref: develop
          fetch-depth: 0

      - name: Cache the Maven packages to speed up build
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Setup java 8
        uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: 'zulu'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - name: Build project with Maven
        run: |
          cat /home/runner/.m2/settings.xml
          mvn --batch-mode external.atlassian.jgitflow:jgitflow-maven-plugin:1.0-m5.1:release-start -DpushReleases=false -Dfluxtion.github.user=${{ secrets.FLUXTION_GITHUB_USER }} -Dfluxtion.github.password=${{ secrets.FLUXTION_GITHUB_TOKEN }} -DskipTests=true &&
          mvn --batch-mode external.atlassian.jgitflow:jgitflow-maven-plugin:1.0-m5.1:release-finish -Prelease -Dmaven.javadoc.failOnError=false -DpushReleases=false -Dfluxtion.github.user=${{ secrets.FLUXTION_GITHUB_USER }} -Dfluxtion.github.password=${{ secrets.FLUXTION_GITHUB_TOKEN }} -DskipTests=true &&		
          echo pushing branches and tags
          git push --all && 
          git push --tags
          echo pushed branches and tags
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_SECRET_TOKEN }}